---
const { title = 'MySite', description = '', image = '', url = '' } = Astro.props;
---
<head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  {image && <meta property="og:image" content={image} />}
  {url && <meta property="og:url" content={url} />}
</head>
